# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore everything in .env except .env itself
.env.*
!.env

# VSCode
.vscode/
